/* Gooogle Fonts */

/* Estilos generales */

/***** HEADER *****/

/* Navbar */
#menu-navegacion nav {
    background-color: #4D6A97F7;
}


/* Carrousel */

/***** MAIN *****/

/***** FOOTER *****/
footer {
    width: 100vw;
    height: 70vh;
    background-color: #4D6A97F7;
}

/***** MEDIA QUERIES *****/

@media screen and (min-width: 768px) {
    /*** HEADER ***/
    /* Navbar */
    #navbarSupportedContent {
        display: flex;
        justify-content: center;
    }

}
